#############################
#----------BED MESH----------
#############################

[gcode_macro CALIBRATE_BED_MESH]
description: Generates bed mesh
gcode:
  BED_MESH_CALIBRATE

[gcode_macro CALIBRATE_BED_SCREWS]
description: Level bed screws
gcode:
  {% set variables = printer["gcode_macro _CUSTOM_VARIABLES"] %}
  
  {% if variables.x_homed != True or variables.y_homed != True or variables.z_homed != true %}   # Checks if printer is homed, if not will home the printer
    G28
  {% endif %}
  
  SCREWS_TILT_CALCULATE

####################################
#----------Z HEIGHT/OFFSET----------
####################################

[gcode_macro CALIBRATE_Z_ENDSTOP]
description: Calibrate z endstop position
gcode:
  {% set variables = printer["gcode_macro _CUSTOM_VARIABLES"] %}
  
  {% if variables.x_homed != True or variables.y_homed != True or variables.z_homed != true %}   # Checks if printer is homed, if not will home the printer
    G28
  {% endif %}
    
  G90
  G1 X{variables.bed_x_center} Y{variables.bed_y_center} Z2 F{variables.move_speed * 60}           # Go to center of the bed and set Z to 2mm
  Z_ENDSTOP_CALIBRATE
  
[gcode_macro CALIBRATE_EDDY_COIL]
description: Calibrate eddy coil frequency
gcode:
  {% set variables = printer["gcode_macro _CUSTOM_VARIABLES"] %}
  {% set target_bed = params.BED_TEMP|float %}
  {% set chamber = params.CHAMBER_TEMP|float %}

  SET_GCODE_VARIABLE MACRO=_CUSTOM_VARIABLES VARIABLE=chamber_temp VALUE={params.CHAMBER_TEMP}
  
  {% if variables.x_homed != True or variables.y_homed != True or variables.z_homed != true %}   # Checks if printer is homed, if not will home the printer
    G28
  {% endif %}
  
  G90
  G1 X{variables.bed_x_center} Y{variables.bed_y_center} Z50 F{variables.move_speed * 60}          # Go to center of the bed and set Z to 10mm
  M190 S{target_bed}                                    # Heat bed to target temp
  M118 Waiting for bed top to be within 4 degrees of {target_bed}c   # Display info
  TEMPERATURE_WAIT SENSOR="temperature_sensor Bed_Top" MINIMUM={target_bed - 4}   # Waits for bed surface to be within 3 degrees of target bed
  M118 Heating nozzle to {variables.e_temp_wait}c                 # Display info
  M109 S{variables.e_temp_wait}                                   # Pre-heat hotend to wait temp
  SET_CHAMBER_HEATER                                    # Heat chamber if value is set
  NOZZLE_WIPE                                           # Clean nozzle
  G1 X{variables.bed_x_center} Y{variables.bed_y_center} Z2 F{variables.move_speed * 60}           # Go to center of the bed and set Z to 10mm
  PROBE_EDDY_CURRENT_CALIBRATE CHIP=btt_eddy

##############################
#----------RESONANCE----------
##############################

[gcode_macro CALIBRATE_RESONANCE_X]
description: Resonance test the X axis
gcode:
  {% set variables = printer["gcode_macro _CUSTOM_VARIABLES"] %}
  
  {% if variables.x_homed != True or variables.y_homed != True or variables.z_homed != true %}   # Checks if printer is homed, if not will home the printer
    G28
  {% endif %}
  
  ACCELEROMETER_QUERY CHIP=hotend
  TEST_RESONANCES AXIS=X

[gcode_macro CALIBRATE_RESONANCE_Y]
description: Resonance test the Y axis
gcode:
  {% set variables = printer["gcode_macro _CUSTOM_VARIABLES"] %}
  
  {% if variables.x_homed != True or variables.y_homed != True or variables.z_homed != true %}   # Checks if printer is homed, if not will home the printer
    G28
  {% endif %}
  
  ACCELEROMETER_QUERY CHIP=bed
  TEST_RESONANCES AXIS=Y

[gcode_macro CALIBRATE_RESONANCE_COMBINED]
description: Resonance test the X & Y axis
gcode:
  {% set variables = printer["gcode_macro _CUSTOM_VARIABLES"] %}
  
  {% if variables.x_homed != True or variables.y_homed != True or variables.z_homed != true %}   # Checks if printer is homed, if not will home the printer
    G28
  {% endif %}
  
  ACCELEROMETER_QUERY CHIP=hotend
  TEST_RESONANCES AXIS=X
  
  ACCELEROMETER_QUERY CHIP=bed
  TEST_RESONANCES AXIS=Y

################################
#----------PID TUNING----------
################################

[gcode_macro CALIBRATE_PID_EXTRUDER]
description: Extruder PID Tuning
gcode:
  {% set TARGET_TEMP = params.TARGET_TEMP|default(210)|float %}
  PID_CALIBRATE HEATER=extruder TARGET={TARGET_TEMP}
  TURN_OFF_HEATERS

[gcode_macro CALIBRATE_PID_BED]
description: Bed PID Tuning
gcode:
  {% set TARGET_TEMP = params.TARGET_TEMP|default(60)|float %}
  PID_CALIBRATE HEATER=heater_bed TARGET={TARGET_TEMP}
  TURN_OFF_HEATERS

[gcode_macro CALIBRATE_PID_HEATER]
description: Chamber heater PID Tuning
gcode:
  {% set TARGET_TEMP = params.TARGET_TEMP|default(60)|float %}
  PID_CALIBRATE HEATER=Heater_Chamber TARGET={TARGET_TEMP}
  TURN_OFF_HEATERS

###############################
#----------SPEED TEST----------
###############################

[gcode_macro CALIBRATE_SPEED]
# Home, get position, throw around toolhead, home again.
# If MCU stepper positions (first line in GET_POSITION) are greater than a full step different (your number of microsteps), then skipping occured.
# We only measure to a full step to accomodate for endstop variance.
# Example: TEST_SPEED SPEED=300 ACCEL=5000 ITERATIONS=10

description: Test for max speed and acceleration parameters for the printer. Procedure: Home -> ReadPositionFromMCU -> MovesToolhead@Vel&Accel -> Home -> ReadPositionfromMCU

gcode:
    # Speed
    {% set speed  = params.SPEED|default(printer.configfile.settings.printer.max_velocity)|int %}
    # Iterations
    {% set iterations = params.ITERATIONS|default(5)|int %}
    # Acceleration
    {% set accel  = params.ACCEL|default(printer.configfile.settings.printer.max_accel)|int %}
    # Minimum Cruise Ratio
    {% set min_cruise_ratio = params.MIN_CRUISE_RATIO|default(0.5)|float %}
    # Bounding inset for large pattern (helps prevent slamming the toolhead into the sides after small skips, and helps to account for machines with imperfectly set dimensions)
    {% set bound = params.BOUND|default(20)|int %}
    # Size for small pattern box
    {% set smallpatternsize = SMALLPATTERNSIZE|default(20)|int %}
    
    # Large pattern
        # Max positions, inset by BOUND
        {% set x_min = printer.toolhead.axis_minimum.x %}
        {% if x_min < 0 %}
            {% set x_min = 0 %}
        {% endif %}
    
        {% set y_min = printer.toolhead.axis_minimum.y %}
        {% if y_min < 0 %}
            {% set y_min = 0 %}
        {% endif %}
    
        {% set x_min = x_min + bound %}
        {% set x_max = printer.toolhead.axis_maximum.x - bound %}
        {% set y_min = y_min + bound %}
        {% set y_max = printer.toolhead.axis_maximum.y - bound %}
    
    # Small pattern at center
        # Find X/Y center point
        {% set x_center = (printer.toolhead.axis_minimum.x|float + printer.toolhead.axis_maximum.x|float ) / 2 %}
        {% set y_center = (printer.toolhead.axis_minimum.y|float + printer.toolhead.axis_maximum.y|float ) / 2 %}
        
        # Set small pattern box around center point
        {% set x_center_min = x_center - (smallpatternsize/2) %}
        {% set x_center_max = x_center + (smallpatternsize/2) %}
        {% set y_center_min = y_center - (smallpatternsize/2) %}
        {% set y_center_max = y_center + (smallpatternsize/2) %}

    # Save current gcode state (absolute/relative, etc)
    SAVE_GCODE_STATE NAME=TEST_SPEED
    
    # Output parameters to g-code terminal
    { action_respond_info("TEST_SPEED: starting %d iterations at speed %d, accel %d" % (iterations, speed, accel)) }
    
    # Home and get position for comparison later:
        M400 # Finish moves - https://github.com/AndrewEllis93/Print-Tuning-Guide/issues/66
        G28
        # QGL if not already QGLd (only if QGL section exists in config)
        {% if printer.configfile.settings.quad_gantry_level %}
            {% if printer.quad_gantry_level.applied == False %}
                QUAD_GANTRY_LEVEL
                G28 Z
            {% endif %}
        {% endif %} 
        # Move 50mm away from max position and home again (to help with hall effect endstop accuracy - https://github.com/AndrewEllis93/Print-Tuning-Guide/issues/24)
        G90
        G1 X{printer.toolhead.axis_maximum.x-50} Y{printer.toolhead.axis_maximum.y-50} F{30*60}
        M400 # Finish moves - https://github.com/AndrewEllis93/Print-Tuning-Guide/issues/66
        G28 X Y
        G0 X{printer.toolhead.axis_maximum.x-1} Y{printer.toolhead.axis_maximum.y-1} F{30*60}
        G4 P1000 
        GET_POSITION

    # Go to starting position
    G0 X{x_min} Y{y_min} Z{bound + 10} F{speed*60}

    # Set new limits
    {% if printer.configfile.settings.printer.minimum_cruise_ratio is defined %}
        SET_VELOCITY_LIMIT VELOCITY={speed} ACCEL={accel} MINIMUM_CRUISE_RATIO={min_cruise_ratio}
    {% else %}
        SET_VELOCITY_LIMIT VELOCITY={speed} ACCEL={accel} ACCEL_TO_DECEL={accel / 2}
    {% endif %}

    {% for i in range(iterations) %}
        # Large pattern diagonals
        G0 X{x_min} Y{y_min} F{speed*60}
        G0 X{x_max} Y{y_max} F{speed*60}
        G0 X{x_min} Y{y_min} F{speed*60}
        G0 X{x_max} Y{y_min} F{speed*60}
        G0 X{x_min} Y{y_max} F{speed*60}
        G0 X{x_max} Y{y_min} F{speed*60}
        
        # Large pattern box
        G0 X{x_min} Y{y_min} F{speed*60}
        G0 X{x_min} Y{y_max} F{speed*60}
        G0 X{x_max} Y{y_max} F{speed*60}
        G0 X{x_max} Y{y_min} F{speed*60}
    
        # Small pattern diagonals
        G0 X{x_center_min} Y{y_center_min} F{speed*60}
        G0 X{x_center_max} Y{y_center_max} F{speed*60}
        G0 X{x_center_min} Y{y_center_min} F{speed*60}
        G0 X{x_center_max} Y{y_center_min} F{speed*60}
        G0 X{x_center_min} Y{y_center_max} F{speed*60}
        G0 X{x_center_max} Y{y_center_min} F{speed*60}
        
        # Small pattern box
        G0 X{x_center_min} Y{y_center_min} F{speed*60}
        G0 X{x_center_min} Y{y_center_max} F{speed*60}
        G0 X{x_center_max} Y{y_center_max} F{speed*60}
        G0 X{x_center_max} Y{y_center_min} F{speed*60}
    {% endfor %}

    # Restore max speed/accel/accel_to_decel to their configured values
    {% if printer.configfile.settings.printer.minimum_cruise_ratio is defined %}
        SET_VELOCITY_LIMIT VELOCITY={printer.configfile.settings.printer.max_velocity} ACCEL={printer.configfile.settings.printer.max_accel} MINIMUM_CRUISE_RATIO={printer.configfile.settings.printer.minimum_cruise_ratio} 
    {% else %}
        SET_VELOCITY_LIMIT VELOCITY={printer.configfile.settings.printer.max_velocity} ACCEL={printer.configfile.settings.printer.max_accel} ACCEL_TO_DECEL={printer.configfile.settings.printer.max_accel_to_decel}
    {% endif %}

    # Re-home and get position again for comparison:
        M400 # Finish moves - https://github.com/AndrewEllis93/Print-Tuning-Guide/issues/66
        G28 # This is a full G28 to fix an issue with CoreXZ - https://github.com/AndrewEllis93/Print-Tuning-Guide/issues/12
        # Go to XY home positions (in case your homing override leaves it elsewhere)
        G90
        G0 X{printer.toolhead.axis_maximum.x-1} Y{printer.toolhead.axis_maximum.y-1} F{30*60}
        G4 P1000 
        GET_POSITION

    # Restore previous gcode state (absolute/relative, etc)
    RESTORE_GCODE_STATE NAME=TEST_SPEED