[mcu EBB36]
canbus_uuid: c4cdb986010c #fb582f1f8a88 - blown heater fan
canbus_interface: can0

[temperature_sensor EBB36]
sensor_type: temperature_mcu
sensor_mcu: EBB36
min_temp: 0
max_temp: 100

[extruder]
step_pin: EBB36: PD0
dir_pin: !EBB36: PD1
enable_pin: !EBB36: PD2
microsteps: 16
rotation_distance: 23.2
gear_ratio: 3:1
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: EBB36: PB13
sensor_type: Generic 3950
sensor_pin: EBB36: PA3
control: pid
pid_Kp: 33.463
pid_Ki: 4.056
pid_Kd: 69.01
min_temp: 10
max_temp: 300
max_extrude_cross_section: 5

[tmc2209 extruder]
uart_pin: EBB36: PA15
run_current: 0.79
interpolate: False

[fan]
pin: EBB36: PA0

[heater_fan hotend_fan]
pin: EBB36: PA1
heater: extruder
heater_temp: 50.0

[probe_eddy_ng btt_eddy]
sensor_type: btt_eddy
i2c_mcu: EBB36
i2c_bus: i2c3_PB3_PB4
x_offset: 0
y_offset: 23.08
calibrated_drive_currents: 17
calibration_version: 5
reg_drive_current: 17
tap_drive_current: 17
calibration_17: gASVywMAAAAAAAB9lCiMAXaUSwWMBGZ0b2iUjBtudW1weS5wb2x5bm9taWFsLnBvbHlub21pYWyUjApQb2x5bm9taWFslJOUKYGUfZQojARjb2VmlIwWbnVtcHkuX2NvcmUubXVsdGlhcnJheZSMDF9yZWNvbnN0cnVjdJSTlIwFbnVtcHmUjAduZGFycmF5lJOUSwCFlEMBYpSHlFKUKEsBSwqFlGgMjAVkdHlwZZSTlIwCZjiUiYiHlFKUKEsDjAE8lE5OTkr/////Sv////9LAHSUYolDUBAuvlZ/EPQ/xd/N1gs2/j+SFE0rswfwP0dQP2MtqtK/7bY20FGL578iPLkaiZ/9P/Z2bvSRUvo/2DPCUc+N+b+7KqwKp5Llv8rmrTa8oeQ/lHSUYowGZG9tYWlulGgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQnhWhhdw6lD41khbOaMeUPpR0lGKMBndpbmRvd5RoC2gOSwCFlGgQh5RSlChLAUsChZRoGIlDEAAAAAAAAPC/AAAAAAAA8D+UdJRijAdfc3ltYm9slIwBeJSMBnN5bWJvbJRoLHVijAlmdG9oX2hpZ2iUaAUpgZR9lChoCGgLaA5LAIWUaBCHlFKUKEsBSwqFlGgYiUNQOO/pqAkxGkBBvt5Q2VUJQILlyjb55PQ/lmBR4y6nxb8esyNbqsT1P09cfo/Z0hFA0w2Qtll81r9cL8WnQxIVwEuMDaOTLuM/prTecik0BkCUdJRiaB1oC2gOSwCFlGgQh5RSlChLAUsChZRoGIlDENxvq3gYw5Q+kBRRV8XclD6UdJRiaCRoC2gOSwCFlGgQh5RSlChLAUsChZRoGIlDEAAAAAAAAPC/AAAAAAAA8D+UdJRiaCtoLGgtaCx1YowEaHRvZpRoBSmBlH2UKGgIaAtoDksAhZRoEIeUUpQoSwFLCoWUaBiJQ1BaLi8hmaWUPn3Fmv65qiw+4T3B+FdnH75p/GLdOo4Bvi7Kwtef0/k98gveU1t3Kz70FdZJ9VoZvjLk7VO1nii+UcTn5jrYCz4jCUdiUBwQPpR0lGJoHWgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQAHnxdfoJQD8088IO9PcTQJR0lGJoJGgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQAAAAAAAA8L8AAAAAAADwP5R0lGJoK2gsaC1oLHVijAdoX3JhbmdllF2UKEc/QAn6dfF5AEdALbIaECjJmmWMB2ZfcmFuZ2WUXZQoR0FIirHODygAR0FJTx0cOmAAZYwCZGOUSxF1Lg==

# TPU Config
# calibrated_drive_currents: 16, 17
# calibration_version: 5
# reg_drive_current: 16
# tap_drive_current: 17
# calibration_16: gASVywMAAAAAAAB9lCiMAXaUSwWMBGZ0b2iUjBtudW1weS5wb2x5bm9taWFsLnBvbHlub21pYWyUjApQb2x5bm9taWFslJOUKYGUfZQojARjb2VmlIwWbnVtcHkuX2NvcmUubXVsdGlhcnJheZSMDF9yZWNvbnN0cnVjdJSTlIwFbnVtcHmUjAduZGFycmF5lJOUSwCFlEMBYpSHlFKUKEsBSwqFlGgMjAVkdHlwZZSTlIwCZjiUiYiHlFKUKEsDjAE8lE5OTkr/////Sv////9LAHSUYolDUOrEyUhlSvc/iBoa5JVk+j8ZW4TDOFLlPwkOXIGl6eo/gbJBdcI80z+7IWaHoYnuvw4aOQmyecE/BEqRkVMP9T9CMNQvRe+cPwiwQ2QPT9y/lHSUYowGZG9tYWlulGgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQoGk3r/AtlD7FLlmppauUPpR0lGKMBndpbmRvd5RoC2gOSwCFlGgQh5RSlChLAUsChZRoGIlDEAAAAAAAAPC/AAAAAAAA8D+UdJRijAdfc3ltYm9slIwBeJSMBnN5bWJvbJRoLHVijAlmdG9oX2hpZ2iUaAUpgZR9lChoCGgLaA5LAIWUaBCHlFKUKEsBSwqFlGgYiUNQA9CRzqUnGkBbNq/lqhwHQGasxmhdlv8/MtjBvpQHEUDfniOKU02yvzWmoIOBaSfAbVmw2bjy8T9af8D8HokxQFDN38XNINU/u8plI0qSHsCUdJRiaB1oC2gOSwCFlGgQh5RSlChLAUsChZRoGIlDEPwikml+p5Q+SjrmD6rBlD6UdJRiaCRoC2gOSwCFlGgQh5RSlChLAUsChZRoGIlDEAAAAAAAAPC/AAAAAAAA8D+UdJRiaCtoLGgtaCx1YowEaHRvZpRoBSmBlH2UKGgIaAtoDksAhZRoEIeUUpQoSwFLCoWUaBiJQ1C3e7Op8oyUPv1+Jp7Fyig+2MdwuTzxHb62psr2O5IbPkavmx57GgK+qCJTjpo0J76Sqo7DPa4LPm+dz8S4yCs+/UPpbZnf/L3azAQg3n0XvpR0lGJoHWgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQgLbim1uxxj90pLDZLvoTQJR0lGJoJGgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQAAAAAAAA8L8AAAAAAADwP5R0lGJoK2gsaC1oLHVijAdoX3JhbmdllF2UKEc/xrFbm+K2gEdALf7xNbxdIWWMB2ZfcmFuZ2WUXZQoR0FIqr6SDrAAR0FJX1HLcfgAZYwCZGOUSxB1Lg==
# calibration_17: gASV6gIAAAAAAAB9lCiMAXaUSwWMBGZ0b2iUjBtudW1weS5wb2x5bm9taWFsLnBvbHlub21pYWyUjApQb2x5bm9taWFslJOUKYGUfZQojARjb2VmlIwWbnVtcHkuX2NvcmUubXVsdGlhcnJheZSMDF9yZWNvbnN0cnVjdJSTlIwFbnVtcHmUjAduZGFycmF5lJOUSwCFlEMBYpSHlFKUKEsBSwqFlGgMjAVkdHlwZZSTlIwCZjiUiYiHlFKUKEsDjAE8lE5OTkr/////Sv////9LAHSUYolDUF9YP1flme8/12lMOD0M9D8WPvWM20jXP03I6Ehnodg/IMXdZ2jLyD9yuAH7Phzwv4TEMj9kv6G/9RGexo/8/T9gVXjs+nSeP6cjzJJcK++/lHSUYowGZG9tYWlulGgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQRisrTSAxlD7XFEcEWLWUPpR0lGKMBndpbmRvd5RoC2gOSwCFlGgQh5RSlChLAUsChZRoGIlDEAAAAAAAAPC/AAAAAAAA8D+UdJRijAdfc3ltYm9slIwBeJSMBnN5bWJvbJRoLHVijAlmdG9oX2hpZ2iUTowEaHRvZpRoBSmBlH2UKGgIaAtoDksAhZRoEIeUUpQoSwFLCoWUaBiJQ1A7KW7sxIyUPvzlSAfFXy4+cjc5PvPKFr58jAHJJr//PZv/SKpYuQi+yDbkq/BDEr6rUymgp4kSPhOczyA6qx4+n6oDKLwnAb7nUyvFpYcOvpR0lGJoHWgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQ0FK/iQ6eaz/owyRUz7cIQJR0lGJoJGgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQAAAAAAAA8L8AAAAAAADwP5R0lGJoK2gsaC1oLHVijAdoX3JhbmdllF2UKEc/a54Oib9S0EdACLfPVCTD6GWMB2ZfcmFuZ2WUXZQoR0FIuWuKa5AAR0FJW1DsMlgAZYwCZGOUSxF1Lg==


[bed_mesh]
horizontal_move_z: 2
speed: 350
mesh_min: 10, 23.08
mesh_max: 210, 201.92
probe_count: 7, 7
mesh_pps: 4, 4
algorithm: bicubic
scan_overshoot: 8

[screws_tilt_adjust]
screw1: 25, 4.58
screw1_name: front left screw
screw2: 195, 4.58
screw2_name: front right screw
screw3: 195, 174.58
screw3_name: rear right screw
screw4: 25, 174.58
screw4_name: rear left screw
horizontal_move_z: 10.0
speed: 150.0
horizontal_move_z: 2
screw_thread: CW-M3