[mcu EBB36]
canbus_uuid: c4cdb986010c #fb582f1f8a88 - blown heater fan
canbus_interface: can0

[temperature_sensor EBB36]
sensor_type: temperature_mcu
sensor_mcu: EBB36
min_temp: 0
max_temp: 100

[extruder]
step_pin: EBB36: PD0
dir_pin: !EBB36: PD1
enable_pin: !EBB36: PD2
microsteps: 16
rotation_distance: 23.2
gear_ratio: 3:1
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: EBB36: PB13
sensor_type: Generic 3950
sensor_pin: EBB36: PA3
control: pid
pid_Kp: 33.463
pid_Ki: 4.056
pid_Kd: 69.01
min_temp: 10
max_temp: 300
max_extrude_cross_section: 5

[tmc2209 extruder]
uart_pin: EBB36: PA15
run_current: 0.84
interpolate: False

[fan]
pin: EBB36: PA0

[heater_fan hotend_fan]
pin: EBB36: PA1
heater: extruder
heater_temp: 50.0

[probe_eddy_ng btt_eddy]
sensor_type: btt_eddy
i2c_mcu: EBB36
i2c_bus: i2c3_PB3_PB4
x_offset: 0
y_offset: 23.08
calibrated_drive_currents: 16
calibration_version: 5
reg_drive_current: 16
tap_drive_current: 16
calibration_16: gASVywMAAAAAAAB9lCiMAXaUSwWMBGZ0b2iUjBtudW1weS5wb2x5bm9taWFsLnBvbHlub21pYWyUjApQb2x5bm9taWFslJOUKYGUfZQojARjb2VmlIwWbnVtcHkuX2NvcmUubXVsdGlhcnJheZSMDF9yZWNvbnN0cnVjdJSTlIwFbnVtcHmUjAduZGFycmF5lJOUSwCFlEMBYpSHlFKUKEsBSwqFlGgMjAVkdHlwZZSTlIwCZjiUiYiHlFKUKEsDjAE8lE5OTkr/////Sv////9LAHSUYolDUCU2oXPfbvQ/VVBVA7r4/D/w4IfM75XsP2Sw+K161/E/dsyJ/SYv1j8Z/rWAfmoDwH+gWhBvDtO/FNXKeeE1DUBawRzorOvSP0tAbExbWvq/lHSUYowGZG9tYWlulGgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQrPkypI1slD7Ngh/KsLiUPpR0lGKMBndpbmRvd5RoC2gOSwCFlGgQh5RSlChLAUsChZRoGIlDEAAAAAAAAPC/AAAAAAAA8D+UdJRijAdfc3ltYm9slIwBeJSMBnN5bWJvbJRoLHVijAlmdG9oX2hpZ2iUaAUpgZR9lChoCGgLaA5LAIWUaBCHlFKUKEsBSwqFlGgYiUNQmXezzPz+GkA7dQR04dsJQCr5CKP+YABAEqngE/qtEUBdtUwqibTzv1kHiwiH2ivAFgsMBZ6YEUDET6H3nCI2QB+asHcouwDAzfmlpzUbJcCUdJRiaB1oC2gOSwCFlGgQh5RSlChLAUsChZRoGIlDEFnesJjytZQ+fxyXAAnHlD6UdJRiaCRoC2gOSwCFlGgQh5RSlChLAUsChZRoGIlDEAAAAAAAAPC/AAAAAAAA8D+UdJRiaCtoLGgtaCx1YowEaHRvZpRoBSmBlH2UKGgIaAtoDksAhZRoEIeUUpQoSwFLCoWUaBiJQ1CFkeC8d6WUPpAoacCPHR0+UMlcUjcrC76hTg7p5RQAPtzSOU3GawG+uRBI9Mmmlj0NEYXJYI70PYrpSKKiCtA9ad1exhNY2r3VJU87quu2vZR0lGJoHWgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQwAucf//ePz80cWgO1PQTQJR0lGJoJGgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQAAAAAAAA8L8AAAAAAADwP5R0lGJoK2gsaC1oLHVijAdoX3JhbmdllF2UKEc/P97/f5wLwEdALf6gV0xVSGWMB2ZfcmFuZ2WUXZQoR0FIpF4+xHgAR0FJEYldlPAAZYwCZGOUSxB1Lg==

#tap_adjust_z: -0.125

[bed_mesh]
horizontal_move_z: 2
speed: 150
mesh_min: 10, 23.08
mesh_max: 210, 201.92
probe_count: 9, 9
mesh_pps: 4, 4
algorithm: bicubic
scan_overshoot: 8

[screws_tilt_adjust]
screw1: 25, 4.58
screw1_name: front left screw
screw2: 195, 4.58
screw2_name: front right screw
screw3: 195, 174.58
screw3_name: rear right screw
screw4: 25, 174.58
screw4_name: rear left screw
horizontal_move_z: 10.0
speed: 150.0
horizontal_move_z: 2
screw_thread: CW-M3