[gcode_macro _Probe_Variables]
variable_probe_attached: False
variable_probe_state: False
variable_probe_lock: False
variable_probe_z_homed: False
variable_z_endstop_x: 5
variable_z_endstop_y: 10
gcode:

[gcode_macro CHECK_VARIABLE_VALUE]
variable_test_value: 10
gcode:
    {% set value = printer["gcode_macro CHECK_VARIABLE_VALUE"].test_value %}
    {% if value > 5 %}
        RESPOND TYPE=error MSG="The value {value|string} is too high!"
    {% else %}
        RESPOND TYPE=echo MSG="The value {value|string} is acceptable."
    {% endif %}

###############################
#----------KLACKENDER----------
###############################

[gcode_macro PROBE_OUT]
description: Pick up klicky probe
gcode:
    {% set attached = printer['gcode_macro _Probe_Variables'].probe_attached|default(false)|lower == "true" %}
    RESPOND TYPE=error MSG="Attached variable is now {attached|string}"   # Display info
    SET_GCODE_VARIABLE MACRO=_Probe_Variables VARIABLE=probe_attached VALUE={true}}
    RESPOND TYPE=error MSG="I Lied! It is now {attached|string}"   # Display info
    # {% if attached == "False" %}
    #     RESPOND TYPE=error MSG="Klicky is not attached! Picking up"   # Display info
    #     G90
    #     G1 X243 F15000 #250mm/s
    #     G4 P300
    #     G1 Z15 F3000 #50mm/s
    #     SET_GCODE_VARIABLE MACRO=_Probe_Variables VARIABLE=probe_attached VALUE={True}}
    #     RESPOND TYPE=error MSG="Attached variable is now {attached|string}"   # Display info
    # {% else %}
    #     RESPOND TYPE=error MSG="Klicky is attached"   # Display info
    # {% endif %}

[gcode_macro PROBE_IN]
description: Put away klicky probe
gcode:
    RESPOND TYPE=error MSG="Putting away klicky"
    G90
    G1 Z20 F3000 #50mm/s
    G1 X243 Y117.5 F15000 #250mm/s
    G1 Z0 F3000 #50mm/s
    G4 P300
    G1 X220 F15000 #250mm/s
    G1 Z10 F3000 #50mm/s
    #G1 X111 F15000

[gcode_macro BED_MESH_CALIBRATE] #macro with parameter passing
rename_existing: _BED_MESH_CALIBRATE
gcode:
    #PROBE_OUT
    RESPOND TYPE=error MSG="Calibrating bed mesh"
    _BED_MESH_CALIBRATE {rawparams}

[gcode_macro BED_LEVEL] #reliant on the macro above
gcode:
    BED_MESH_CALIBRATE

[gcode_macro PROBE_CALIBRATE]
rename_existing: _PROBE_CALIBRATE
gcode:
    {% if not 'xyz' in printer.toolhead.homed_axes %}
        SENSORLESS_HOME_X
        SENSORLESS_HOME_Y
        G28 Z
    {% endif %}
    G90
    G1 Z20
    G1 X111 Y86.5 F15000 ; Readjust for center of bed adjusted for probe offset
    _PROBE_CALIBRATE
    TESTZ Z=5
    RESPOND TYPE=error MSG="Remove the Klack to continue calibration!"

[gcode_macro PROBE_ACCURACY]
rename_existing: _PROBE_ACCURACY
gcode:
    {% if not 'xyz' in printer.toolhead.homed_axes %}
        SENSORLESS_HOME_X
        SENSORLESS_HOME_Y
        G28 Z
    {% endif %}
    G90
    G1 X111 Y86.5 F15000 ; Readjust for center of bed adjusted for probe offset
    _PROBE_ACCURACY

[gcode_macro Z_TILT_ADJUST] #Uncomment this macro if using dual z with z_tilt
rename_existing: _Z_TILT_ADJUST
gcode:
    RESPOND TYPE=error MSG="Adjusting Z tilt"
    _Z_TILT_ADJUST

[gcode_macro Z_TILT] #reliant on the macro above
gcode:
    Z_TILT_ADJUST