[output_pin Daylight]
pin: PB10
pwm: True
value: 0.00
shutdown_value: 0
cycle_time: 0.01

#########################
#----------LEDS----------
#########################

[gcode_macro DAYLIGHT_ON]
description: Daylight On
gcode:
  SET_PIN PIN=Daylight VALUE=1.00

[gcode_macro DAYLIGHT_OFF]
description: Daylight Off
gcode:
  SET_PIN PIN=Daylight VALUE=0.00

[gcode_macro DAYLIGHT_IDLE]
description: Daylight Idle
gcode:
  SET_PIN PIN=Daylight VALUE=0.01