[include btt_sfs2.cfg]
[include bedfans.cfg]
[include klicky_probe.cfg]
[exclude_object] # Enable exclude_object for adaptive meshing

#####################################
#----------CLIENT_VARIABLES----------
#####################################

[gcode_macro _CLIENT_VARIABLE]
variable_use_custom_pos   : True  # use custom park coordinates for x,y [True/False]
variable_custom_park_x    : 220   # custom x position; value must be within your defined min and max of X
variable_custom_park_y    : 224   # custom y position; value must be within your defined min and max of Y
variable_custom_park_dz   : 15.0  # custom dz value; the value in mm to lift the nozzle when move to park position
variable_retract          : 1.0   # the value to retract while PAUSE
variable_cancel_retract   : 7.0   # the value to retract while CANCEL_PRINT
variable_speed_retract    : 35.0  # retract speed in mm/s
variable_unretract        : 1.0   # the value to unretract while RESUME
variable_speed_unretract  : 35.0  # unretract speed in mm/s
variable_speed_hop        : 15.0  # z move speed in mm/s
variable_speed_move       : 100.0 # move speed in mm/s
variable_park_at_cancel   : True  # allow to move the toolhead to park while execute CANCEL_PRINT [True/False]
variable_park_at_cancel_x : 220   # different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
variable_park_at_cancel_y : 224   # different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
## !!! Caution [firmware_retraction] must be defined in the printer.cfg if you set use_fw_retract: True !!!
variable_use_fw_retract   : True  # use fw_retraction instead of the manual version [True/False]
variable_idle_timeout     : 1800  # time in sec until idle_timeout kicks in. Value 0 means that no value will be set or restored
variable_runout_sensor    : "filament_switch_sensor Switch_Sensor"   ; If a sensor is defined, it will be used to cancel the execution of RESUME in case no filament is detected.
gcode:

####################################
#----------HOMING_OVERRIDE----------
####################################

[homing_override]
set_position_z: 0 # Make printer think Z axis is at zero, so we can force a move upwards away from build plate
axes: z
gcode:
  {% set homed = printer["gcode_macro _Probe_Variables"].printer_homed %}
  {% set attached = printer["gcode_macro _Probe_Variables"].probe_attached %}
  {% set x_center = printer["gcode_macro _Probe_Variables"].bed_x_center %}
  {% set y_center = printer["gcode_macro _Probe_Variables"].bed_y_center %}
  {% set probe_x_offset = printer["gcode_macro _Probe_Variables"].probe_x_offset %}
  {% set probe_y_offset = printer["gcode_macro _Probe_Variables"].probe_y_offset %}

    G90 # Absolute Coordinates
    G1 Z10 F3000 # Move nozzle up 10mm at (3000mm/m * 60 = 50mm/s) to prevent accidentally scratching build plate  
    
    {% if "x" not in (printer.toolhead.homed_axes | lower) %}
        SENSORLESS_HOME_X
    {% else %}
        M118 X is homed
    {% endif %}
    
    {% if "y" not in (printer.toolhead.homed_axes | lower) %}
        SENSORLESS_HOME_Y
    {% else %}
        M118 Y is homed
    {% endif %}
    
    {% if homed == "True" and attached == "True" %}
      M118 Homed :)
    {% elif homed == "False" and attached == "True"%}
      M118 Homing printer
      G28
      G1 X{x_center - probe_x_offset} Y{y_center - probe_y_offset} F6000
      G28 Z
      G1 Z5 F3000
      SET_GCODE_VARIABLE MACRO=_Probe_Variables VARIABLE=printer_homed VALUE={True}
    {% elif homed == "False" and attached == "False"%}
      PROBE_OUT
      M118 Homing printer
      G28
      G1 X{x_center - probe_x_offset} Y{y_center - probe_y_offset} F6000
      G28 Z
      G1 Z5 F3000
      SET_GCODE_VARIABLE MACRO=_Probe_Variables VARIABLE=printer_homed VALUE={True}
    {% endif %}

[gcode_macro M84]
rename_existing: M8484
gcode:
  SET_GCODE_VARIABLE MACRO=__Probe_Variables VARIABLE=printer_homed VALUE={False}
  M8484

[gcode_macro CHECK_HOME]
description: Check is printer is homed
gcode:
  {% set homed = printer["gcode_macro _CLIENT_VARIABLE"].printer_homed %}
  {% if homed == True %}
    M118 Printer is homed   # Display info
  {% else %}
    M118 Printer is not homed  # Display info
  {% endif %}

######################################
#----------SENSORLESS_HOME_X----------
######################################

[gcode_macro SENSORLESS_HOME_X]
description: Sensorless home the X axis
gcode:
    {% set HOME_CUR = 0.700 %}
    {% set driver_config = printer.configfile.settings['tmc2209 stepper_x'] %}
    {% set RUN_CUR = driver_config.run_current %}
    # Set current for sensorless homing
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={HOME_CUR}
    M118 Homing X axis
    # Pause to ensure driver stall flag is clear
    G4 P2000
    # Home
    G28 X0
    # Move away
    G90
    G1 X0 F1200
    # Set current during print
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={RUN_CUR}

######################################
#----------SENSORLESS_HOME_Y----------
######################################

[gcode_macro SENSORLESS_HOME_Y]
description: Sensorless home the Y axis
gcode:
    {% set HOME_CUR = 0.700 %}
    {% set driver_config = printer.configfile.settings['tmc2209 stepper_y'] %}
    {% set RUN_CUR = driver_config.run_current %}
    # Set current for sensorless homing
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={HOME_CUR}
    M118 Homing Y axis
    # Pause to ensure driver stall flag is clear
    G4 P2000
    # Home
    G28 Y0
    # Move away
    G90
    G1 Y0 F1200
    # Set current during print
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={RUN_CUR}
    
################################
#----------START_PRINT----------
################################

[gcode_macro PRINT_START]
description: Starts the print
gcode:
  {% set target_bed = params.BED_TEMP|float %}
  {% set target_extruder = params.EXTRUDER_TEMP|float %}
  {% set target_chamber = params.CHAMBER_TEMP|default(30)|float %}
  {% set target_chamber_minimal = params.CHAMBER_MINIMAL|default(0)|float %}
  {% set target_chamber_wait = [target_chamber, target_chamber_minimal]|select(">", 0)|min|default(0) %}
  {% set x_wait = 117.5 %}
  {% set y_wait = 70.50 %}

  LED_FULL                                              # Set LED's to 100%
  G28                                                   # Checks if printer is homed, if not will home the printer
  G90                                                   # Use absolute coordinates

  # Check if the bed temp is higher than 90c - if so then trigger a heatsoak.
  {% if params.BED_TEMP|float > 90 %}
    G1 X{x_wait} Y{y_wait} Z15 F3000                    # Go to center of the bed
    M118 Heating bed...             # Display info
    M190 S{target_bed}                                  # Set target temp for the bed
    M118 Heating chamber to: {target_chamber_wait}c     # Display info
    TEMPERATURE_WAIT SENSOR="temperature_sensor Chamber" MINIMUM={target_chamber_wait}   # Waits for chamber temp

  # If the bed temp is not over 90c, then skip the heatsoak and just heat up to set temp with a 5 min soak
  {% else %}
    G1 X{x_wait} Y{y_wait} Z15 F3000                    # Move bed to waiting position
    M118 Heating bed...                                 # Display info
    M190 S{target_bed}                                  # Set the target temp for the bed
    M118 Soaking for 5 minutes...                       # Display info
    G4 P300000                                          # Wait 5 min for the bedtemp to stabilize
  {% endif %}

  Z_TILT                                                # Level printer
  BED_MESH                                              # Generating a new bed mesh
  PROBE_IN                                              # Put away Klicky probe
  NOZZLE_WIPE_WAIT                                      # Park toolhead at nozzle wiper
  M109 S{target_extruder}                               # Heat hotend to target temp
  NOZZLE_WIPE                                           # Wipe nozzle
  VORON_PURGE                                           # Purge extruder
    
##############################
#----------END_PRINT----------
##############################

[gcode_macro END_PRINT]
description: Ends the print
gcode:
  {% set x_finish = 117.5 %}                            # Absolute X finish coordinates
  {% set y_finish = 224 %}                              # Absolute Y finish coordinates
  {% set z_finish = 10 %}                               # Incremental Z finish coordintes
  {% set e_finish = -7 %}

  G90                                                   # Absolute coordinates
  G1 X{x_finish} Y{y_finish} F6000                      # Present finished print
  G91                                                   # Incremental Coordinates
  G1 Z{z_finish} E{e_finish} F3000                      # Move nozzle 10mm up at 50mm/s while retracting 7mm
  OFF                                                   # Turn everything off

  M118 Print finished :)                                # Display info

#################################
#----------CANCEL_PRINT----------
#################################

[gcode_macro CANCEL_PRINT]
description: Cancel the actual running print
rename_existing: CANCEL_PRINT_BASE
gcode:
  ##### get user parameters or use default #####
  {% set client = printer['gcode_macro _CLIENT_VARIABLE']|default({}) %}
  {% set allow_park = client.park_at_cancel|default(false)|lower == 'true' %}
  {% set retract = client.cancel_retract|default(5.0)|abs %}
  ##### define park position #####
  {% set park_x = "" if (client.park_at_cancel_x|default(none) is none)
            else "X=" ~ client.park_at_cancel_x %}
  {% set park_y = "" if (client.park_at_cancel_y|default(none) is none)
            else "Y=" ~ client.park_at_cancel_y %}
  {% set custom_park = park_x|length > 0 or park_y|length > 0 %}
  ##### end of definitions #####
  # restore idle_timeout time if needed
  {% if printer['gcode_macro RESUME'].restore_idle_timeout > 0 %}
    SET_IDLE_TIMEOUT TIMEOUT={printer['gcode_macro RESUME'].restore_idle_timeout}
  {% endif %}
  {% if (custom_park or not printer.pause_resume.is_paused) and allow_park %} _TOOLHEAD_PARK_PAUSE_CANCEL {park_x} {park_y} {% endif %}
  _CLIENT_RETRACT LENGTH={retract}
  TURN_OFF_HEATERS
  M106 S0
  {client.user_cancel_macro|default("")}
  SET_GCODE_VARIABLE MACRO=RESUME VARIABLE=idle_state VALUE=False
  # clear pause_next_layer and pause_at_layer as preparation for next print
  SET_PAUSE_NEXT_LAYER ENABLE=0
  SET_PAUSE_AT_LAYER ENABLE=0 LAYER=0
  CANCEL_PRINT_BASE
  SET_GCODE_OFFSET Z=0 MOVE=1 # Clears Z offset
  BED_MESH_CLEAR # Clears bed mesh
  LED_OFF
  M84

###################################
#----------EVERYTHING_OFF----------
###################################

[gcode_macro OFF]
gcode:
    M118 Turning off steppers, heaters and fans  # Display info
    TURN_OFF_HEATERS                     # Turn bed / hotend off
    M107                                 # Turn print cooling fan off
    M118 Clearing bed mesh and Z offset   # Display info
    BED_MESH_CLEAR                       # Clears bed mesh
    SET_GCODE_OFFSET Z=0 MOVE=1          # Clears Z offset
    LED_OFF                              # Turn off LEDs
    M84                                  # Turn steppers off

################################
#----------NOZZLE_WIPE----------
################################

[gcode_macro NOZZLE_WIPE_WAIT]
gcode:
  {% set x_wait = 198 %}                   # X wait position
  {% set y_wait = -8 %}                    # Y wait position
  {% set z_wait = 5 %}                     # Z wait position

  SAVE_GCODE_STATE NAME=clean_nozzle_wait_state
  G90
  M118 Moving to wipe zone and waiting for nozzle
  G1 Z{z_wait} F3000
  G1 X{x_wait} Y{y_wait} F3000
  RESTORE_GCODE_STATE NAME=clean_nozzle_wait_state

[gcode_macro NOZZLE_WIPE]
gcode:
  {% set wipe_count = 8 %}                # Amount of times to wipe
  {% set x_pos1 = 198 %}                  # X wipe position 1
  {% set x_pos2 = 161 %}                  # X wipe position 2
  {% set y_pos = -8 %}                    # Y wipe position
  {% set z_pos1 = 5 %}                    # Z wait position
  {% set z_pos2 = -0.6 %}                 # Z wipe position
    
  SAVE_GCODE_STATE NAME=clean_nozzle_state
  G90
  M118 Cleaning nozzle
  G1 Z{z_pos1} F3600                      # Move Z to wait
  {% for wipe in range(wipe_count) %}
    {% for coordinate in [(x_pos2,y_pos),(x_pos1,y_pos)] %}
      G1 X{coordinate[0]} Y{coordinate[1] + 0.25 * wipe} Z{z_pos2} F6000
    {% endfor %}
  {% endfor %}
  G1 Z{z_pos1}                            # Move Z up 5mm
  RESTORE_GCODE_STATE NAME=clean_nozzle_state

#################################
#----------CHAMBER_LEDS----------
#################################

# [gcode_macro LED_FINISHED]
# led_flash_amount: 5
# led_flash_delay: 10 #ms
# led_on_state: 1.0
# led_off_state: 0.0

# gcode:
#   SET_LED

[gcode_macro LED_FULL]
description: Full power LEDs
gcode:
  SET_LED LED=Chamber_LED WHITE=1.00 SYNC=0 TRANSMIT=1

[gcode_macro LED_OFF]
description: LEDs Off
gcode:
  SET_LED LED=Chamber_LED WHITE=0.00 SYNC=0 TRANSMIT=1

#################################
#----------GCODE RENAME----------
#################################

[gcode_macro M109]
rename_existing: M99109
gcode:
  {% set s = params.S|float %}   
  M104 {% for p in params %}{'%s%s' % (p, params[p])}{% endfor %}  ; Set hotend temp
  {% if s != 0 %}
    TEMPERATURE_WAIT SENSOR=extruder MINIMUM={s} MAXIMUM={s+1}   ; Wait for hotend temp (within 1 degree)
  {% endif %}

##############################
#----------RESONANCE----------
##############################

[gcode_macro RESONANCE_X_TEST]
description: Resonance test the X axis
gcode:
  ACCELEROMETER_QUERY CHIP=hotend
  G28
  PROBE_IN
  TEST_RESONANCES AXIS=X

[gcode_macro RESONANCE_Y_TEST]
description: Resonance test the Y axis
gcode:
  ACCELEROMETER_QUERY CHIP=bed
  G28
  TEST_RESONANCES AXIS=Y

[gcode_macro RESONANCE_COMBINED_TEST]
description: Resonance test the X & Y axis
gcode:
  G28
  PROBE_IN
  ACCELEROMETER_QUERY CHIP=hotend
  TEST_RESONANCES AXIS=X
  ACCELEROMETER_QUERY CHIP=bed
  TEST_RESONANCES AXIS=Y

################################
#----------PID_TUNING----------
################################

[gcode_macro PID_EXTRUDER]
description: Extruder PID Tuning
gcode:
  {% set TARGET_TEMP = params.TARGET_TEMP|default(210)|float %}
  PID_CALIBRATE HEATER=extruder TARGET={TARGET_TEMP}
  TURN_OFF_HEATERS

[gcode_macro PID_BED]
description: Bed PID Tuning
gcode:
  {% set TARGET_TEMP = params.TARGET_TEMP|default(60)|float %}
  PID_CALIBRATE HEATER=heater_bed TARGET={TARGET_TEMP}
  TURN_OFF_HEATERS

#############################
#----------SPOOLMAN----------
#############################

[gcode_macro SET_ACTIVE_SPOOL]
gcode:
  {% if params.ID %}
    {% set id = params.ID|int %}
    {action_call_remote_method(
       "spoolman_set_active_spool",
       spool_id=id
    )}
  {% else %}
    {action_respond_info("Parameter 'ID' is required")}
  {% endif %}

[gcode_macro CLEAR_ACTIVE_SPOOL]
gcode:
  {action_call_remote_method(
    "spoolman_set_active_spool",
    spool_id=None
  )}